.Task {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.Checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.Checkbox:checked {
    background-color: #a62626;
}

.LeftBlock {
    display: flex;
    align-items: center;
}

.RightBlock {
    display: flex;
    align-items: center;
}

.Priority {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a62626;
    height: 30px;
    width: 55px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px 0 10px;

    h5 {
        margin: 0px;
        padding: 0px;
        color: #ddd;
        font-size: 12px;
    }
}